<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee           https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Filter Configuration -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>utils.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/teacher/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/director/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/academicstaff/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/accountant/*</url-pattern>
    </filter-mapping>
    <!-- Servlets Declaration -->
    <servlet>
        <servlet-name>DashboardAcademicStaffServlet</servlet-name>
        <servlet-class>Controller.academicstaff.DashboardAcademicStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>Controller.academicstaff.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectorDashBoardServlet</servlet-name>
        <servlet-class>Controller.director.DirectorDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassServlet</servlet-name>
        <servlet-class>Controller.director.ClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllerr.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardTeacherServlet</servlet-name>
        <servlet-class>Controller.teacher.DashboardTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsProfileServlet</servlet-name>
        <servlet-class>Controller.academicstaff.StudentsProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentsServlet</servlet-name>
        <servlet-class>Controller.academicstaff.UpdateStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewClassServlet</servlet-name>
        <servlet-class>Controller.director.ReviewClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTimeTableClassServlet</servlet-name>
        <servlet-class>Controller.director.ViewTimeTableClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controllerr.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePassword</servlet-name>
        <servlet-class>controllerr.ValidatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewTimetableServlet</servlet-name>
        <servlet-class>Controller.director.ReviewTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardStudentServlet</servlet-name>
        <servlet-class>Controller.student.DashboardStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPersonnelServlet</servlet-name>
        <servlet-class>Controller.director.ListPersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>Controller.academicstaff.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationStaffServlet</servlet-name>
        <servlet-class>Controller.academicstaff.InformationStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePersonnelServlet</servlet-name>
        <servlet-class>controllerr.UpdatePersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswords</servlet-name>
        <servlet-class>controllerr.ChangePasswords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInformationDirectorServlet</servlet-name>
        <servlet-class>Controller.director.ViewInformationDirectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationDirectorServlet</servlet-name>
        <servlet-class>Controller.director.InformationDirectorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInformationTeacherServlet</servlet-name>
        <servlet-class>Controller.teacher.ViewInformationTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationTeacherServlet</servlet-name>
        <servlet-class>Controller.teacher.InformationTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInformationStudentServlet</servlet-name>
        <servlet-class>Controller.student.ViewInformationStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationStudentServlet</servlet-name>
        <servlet-class>Controller.student.InformationStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>Controller.student.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <servlet-class>Controller.admin.DashboardAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInformationServlet</servlet-name>
        <servlet-class>Controller.admin.ViewInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationAdminServlet</servlet-name>
        <servlet-class>Controller.admin.InformationAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUserServlet</servlet-name>
        <servlet-class>Controller.admin.ManagerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>Controller.admin.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Controller.admin.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaitlistPersonnelServlet</servlet-name>
        <servlet-class>Controller.director.WaitlistPersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPersonnelServlet</servlet-name>
        <servlet-class>Controller.director.ViewPersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentServlet</servlet-name>
        <servlet-class>Controller.admin.ListStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewStudentServlet</servlet-name>
        <servlet-class>Controller.admin.ReviewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfile</servlet-name>
        <servlet-class>Controller.admin.StudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubjectServlet</servlet-name>
        <servlet-class>Controller.director.ListSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewSubjectServlet</servlet-name>
        <servlet-class>Controller.director.ReviewSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolYearServlet</servlet-name>
        <servlet-class>Controller.academicstaff.SchoolYearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>Controller.academicstaff.SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassServlett</servlet-name>
        <servlet-class>Controller.academicstaff.ClassServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassDetailServlet</servlet-name>
        <servlet-class>Controller.academicstaff.ClassDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfileClassServlet</servlet-name>
        <servlet-class>Controller.academicstaff.StudentProfileClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentsClassServlet</servlet-name>
        <servlet-class>Controller.academicstaff.UpdateStudentsClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAccountantServlet</servlet-name>
        <servlet-class>Controller.accountant.DashboardAccountantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationAccountantServlet</servlet-name>
        <servlet-class>Controller.accountant.InformationAccountantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInformationAccServlet</servlet-name>
        <servlet-class>Controller.accountant.ViewInformationAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeKeepServlet</servlet-name>
        <servlet-class>Controller.accountant.TimeKeepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeTimeKeepServlet</servlet-name>
        <servlet-class>Controller.accountant.TakeTimeKeepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPersonnelServlett</servlet-name>
        <servlet-class>Controller.accountant.ListPersonnelServlett</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPersonnelSalaryServlet</servlet-name>
        <servlet-class>Controller.accountant.ViewPersonnelSalaryServlet</servlet-class>
    </servlet>
    <!-- Servlets Mapping -->
    <servlet>
        <servlet-name>SendPaymentNoticeServlet</servlet-name>
        <servlet-class>Controller.accountant.SendPaymentNoticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardAcademicStaffServlet</servlet-name>
        <url-pattern>/academicstaff/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/academicstaff/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardTeacherServlet</servlet-name>
        <url-pattern>/teacher/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsProfileServlet</servlet-name>
        <url-pattern>/academicstaff/studentprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentsServlet</servlet-name>
        <url-pattern>/academicstaff/updatestudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassServlet</servlet-name>
        <url-pattern>/director/class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectorDashBoardServlet</servlet-name>
        <url-pattern>/director/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewClassServlet</servlet-name>
        <url-pattern>/director/reviewclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTimeTableClassServlet</servlet-name>
        <url-pattern>/director/viewtimetableclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePassword</servlet-name>
        <url-pattern>/ValidatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewTimetableServlet</servlet-name>
        <url-pattern>/director/reviewtimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardStudentServlet</servlet-name>
        <url-pattern>/student/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPersonnelServlet</servlet-name>
        <url-pattern>/director/listpersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/academicstaff/view-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationStaffServlet</servlet-name>
        <url-pattern>/academicstaff/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePersonnelServlet</servlet-name>
        <url-pattern>/update-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswords</servlet-name>
        <url-pattern>/new-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInformationDirectorServlet</servlet-name>
        <url-pattern>/director/view-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationDirectorServlet</servlet-name>
        <url-pattern>/director/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInformationTeacherServlet</servlet-name>
        <url-pattern>/teacher/view-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationTeacherServlet</servlet-name>
        <url-pattern>/teacher/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInformationStudentServlet</servlet-name>
        <url-pattern>/student/view-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationStudentServlet</servlet-name>
        <url-pattern>/student/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/student/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInformationServlet</servlet-name>
        <url-pattern>/admin/view-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationAdminServlet</servlet-name>
        <url-pattern>/admin/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUserServlet</servlet-name>
        <url-pattern>/admin/manageruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/admin/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/admin/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaitlistPersonnelServlet</servlet-name>
        <url-pattern>/director/waitlistpersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPersonnelServlet</servlet-name>
        <url-pattern>/director/viewpersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentServlet</servlet-name>
        <url-pattern>/admin/listpupil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewStudentServlet</servlet-name>
        <url-pattern>/admin/reviewstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfile</servlet-name>
        <url-pattern>/admin/studentsprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubjectServlet</servlet-name>
        <url-pattern>/director/listsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewSubjectServlet</servlet-name>
        <url-pattern>/director/reviewsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolYearServlet</servlet-name>
        <url-pattern>/academicstaff/schoolyear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/academicstaff/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassServlett</servlet-name>
        <url-pattern>/academicstaff/class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassDetailServlet</servlet-name>
        <url-pattern>/academicstaff/classdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfileClassServlet</servlet-name>
        <url-pattern>/academicstaff/studentprofileclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentsClassServlet</servlet-name>
        <url-pattern>/academicstaff/updatestudentsclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAccountantServlet</servlet-name>
        <url-pattern>/accountant/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationAccountantServlet</servlet-name>
        <url-pattern>/accountant/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInformationAccServlet</servlet-name>
        <url-pattern>/accountant/view-information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeKeepServlet</servlet-name>
        <url-pattern>/accountant/mytimekeeping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeTimeKeepServlet</servlet-name>
        <url-pattern>/accountant/taketimekeep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPersonnelServlett</servlet-name>
        <url-pattern>/accountant/listpersonnell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPersonnelSalaryServlet</servlet-name>
        <url-pattern>/accountant/viewpersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPaymentNoticeServlet</servlet-name>
        <url-pattern>/accountant/notify-payment</url-pattern>
    </servlet-mapping>
</web-app>
